// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//Universal
@font-face {
  font-family: 'OldLondon';
  src: url('../fonts/OldLondon.ttf'),
  url('../fonts/OldLondon.ttf') format('truetype');
}

a {
  text-decoration: none;
}

html {
  height: 100%;
  background-color: black;
}

hr {
  margin: 0 40px 0 40px;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.view-container {
  height: 100%;
  position: relative;
}
.view {
  height: 100%;
}

//Headers
h1, h2, h3, h4 {
  font-weight: normal;
  color: white;
  text-align: center;
}

h1.main-title {
  font-family: "OldLondon", serif;
  font-size: 95px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 14px;
}

.title-wrapper {
  margin-top: 65px;
}

.page-header {
  position: fixed;
  top: 10px;
  z-index: 100;
}

h1.page-title {
  font-family: "OldLondon", serif;
  width: 440px;
  margin-top: 0;
  font-size: 70px;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 7px;
}

h2 {
  font-size: 24px;
  margin-top: 5px;
  letter-spacing: 4px;
}

h3 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-style: italic;
}

h4 {
  font-size: 10px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

h2, h3, h4 {
  text-transform: uppercase;
}

//Landing page
.art-info {
  height: 100%;
  max-height: 100%;
  margin-left: 40px;
  text-align: center;
  width: 600px;
  position: fixed;
  transition: 0.5s linear all;
}

#show-gallery-wrapper {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 125px;
  width: 100%;
}

#show-gallery {
  color: white;
  background-size: contain;
  transform: rotate(-90deg);
  width: 120px;
  height: 120px;
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

//Gallery
#gallery-main-image {
  max-height: 100%;
}

.thumbnail:first-child {
  margin-top: 40px;
}

.thumbnail:last-child {
  margin-bottom: 40px;
}

.thumbnail {
  margin-right:10px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 160px;
  transition: 0.3s linear all;
}

.view-animation {
  width: 100%;
}

.view-animation.ng-animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1.0s linear all;
}

.view-animation.ng-enter {
  opacity:0;
}

.view-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.view-animation.ng-leave {
  opacity:1;
}

.view-animation.ng-leave.ng-leave-active {
  opacity:0;
}

.main-title.ng-anchor-out {
  transition: 0.6s linear all;
}

.main-title.ng-anchor-in {
  opacity: 1;
  transition: 0.6s linear opacity;
}

.page-title.ng-anchor-out {
  opacity: 0;
  transition: 0.6s linear all;
}

.page-title.ng-anchor-in {
  transition: 0.6s linear all;
}

.image-list-wrapper {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: black;
  text-align: center;
}

.image-type-wrapper {
  background-color: black;
}

.page-wrapper {
  background-color: black;
  height: 100%;
  position: relative;
}

.main-image {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.image-wrapper {
  top: 0;
  position: fixed;
  white-space: nowrap;
  right: 200px;
  bottom: 0;
  left: 0;
  background: #414141 no-repeat center center;
  text-align: center;
}

//Monitors
@media(min-width: 768px) {
  video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/video-poster.png) no-repeat;
    background-size: cover;
  }
}

//Tablets
@media (max-width: 960px) {
  .art-info {
    width: 100%;
    margin-left: 0;
  }

  h1.page-title {
    font-size: 50px;
    letter-spacing: 9px;
    width: 400px;
  }

  .image-list-wrapper {
    overflow-x: scroll;
    white-space: nowrap;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: inherit;
    right: inherit;
    background-color: black;
    text-align: center;
  }

  .image-wrapper {
    right: 0;
    bottom: 100px;
  }

  .image-type-wrapper {
    display: inline;
  }

  hr {
    display: none;
  }

  .thumbnail {
    width: auto;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .thumbnail:first-child {
    margin-top: 10px;
  }

  .thumbnail:last-child {
    margin-bottom: 5px;
  }

  #bottom-gallery-background {
    position: fixed;
    bottom: 0;
    height: 100px;
    left: 0;
    right: 0;
    background-color: black;
    z-index: -1000;
  }
}

//Phones
@media (max-width: 768px) {
  html {
    background: url(../images/mobile-background.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  #bgvid {
    display: none;
  }
}

@media (max-width: 600px) {
  .title-wrapper {
    margin-top: 20px;
  }

  h1.main-title {
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 70px;
  }

  h1.page-title {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
    margin-top: 20px;
  }

  .page-header {
    width: 100%;
  }
}
