<div class="art-info" ng-animate-ref="fix">
    <div class="title-wrapper">
        <a href="#/gallery"><h1 class="main-title" ng-animate-ref="title-anchor">Truth Decay</h1></a>
    </div>
    <h3>By</h3>
    <h2><a href="mailto:saulaman.schlegel@gmail.com" class="contact-link">Saulaman Schlegel</a></h2>
    <h4>Photographer: <a href="mailto:sahohnstrater@gmail.com" class="contact-link">Sarah Hohnstrater</a></h4>
    <h4>Videographer: <a href="mailto:wjbelknap@gmail.com" class="contact-link">Wesley Belknap</a></h4>
    <h4>Poster: <a href="mailto:skyler.prenosil@gmail.com" class="contact-link">Skyler Prenosil</a></h4>
    <h4>Model: Chelsea Foxx</h4>
    <h4>Website: <a href="http://www.roblouie.com" class="contact-link">Rob Louie</a></h4>
</div>

<a href="#/gallery">
    <div id="show-gallery-wrapper">
        <img id="show-gallery" src="images/icons/chevron_right.svg"/>
    </div>
</a>

<!-- Background video -->
<video autoplay loop poster="../images/video-poster.png" id="bgvid">
    <source src="videos/TruthDecaySDTrimmed.mp4" type="video/mp4">
</video>




