
<div class="art-info" ng-animate-ref="fix">
    <div class="title-wrapper" style="margin-top: 65px;">
        <h1 class="main-title" ng-animate-ref="title-anchor">Truth Decay</h1>
    </div>
    <h3>By</h3>
    <h2>Saulaman Schlegel</h2>
    <h4>Photographer: Sarah Hohnstrater</h4>
    <h4>Videographer: Wesley Belknap</h4>
    <h4>Model: Chelsea Foxx</h4>
    <h4>Website: Rob Louie</h4>
    <!--<div id="nav-section">-->
        <!--<div id="nav-link-wrapper">-->
            <!--<div class="navigation-link"><a href="#/about">Gallery</a></div>-->
            <!--<div class="navigation-link">Video</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<a href="#/about">
    <div id="show-gallery-wrapper">
        <img id="show-gallery" src="images/icons/chevron_right.svg"/>
    </div>
</a>




